.serviceMain {
    width: 400px;
    margin-right: 1.5%;
    margin-top: 1%;
    height: 400px;
}

.serviceMain:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.imageService {
    width: 100%;
}

.serviceName {
    width: 50%;
    color: #464646;
    font: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.serviceDescription {
    width: 100%;
    height: 40%;
    color: #9a9a9a;
    font: 14px 'Roboto';
    word-break: break-all;
    margin-top: 3%;
}

.button {
    border: none;
    background-color: unset;
    cursor: pointer;
    color: #a2c046;
    font: 14px 'Roboto';

}

.button:hover {
    transform: scale(1.05);
    color: #6a890b;
}

.serviceImages {
    height: 55%;
    width: 100%;
}

.serviceInfo {
    height: 35%;
}

.serviceImages img {
    object-fit: cover;
}