.f {
    display: flex;
    justify-content: center;
}

.f h1 {
    padding-top: 80px;
    padding-bottom: 30px;
}

.pad {
    box-sizing: border-box;
    padding-top: 10px;
}

.imag img {
    border-radius: 5px;
}

.pad2 {
    box-sizing: border-box;
    padding-bottom: 10px;
}

.card {
    box-sizing: border-box;
    padding: 20px 0;
    border-radius: 5%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: white;
    color: black;
    transition: 250ms;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.tri {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.card button {
    border: none;
    background-color: #a2c046;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    transition: 250ms;
}

.card button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.wrapper {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainCard {
    box-sizing: border-box;
    padding: 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url("https://demos.qreativethemes.com/thelandscaper/wp-content/uploads/sites/2/2015/09/leafs_white.png");
}