.mainServiceOne {
    margin-top: 2%;
}

.tri {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.serviceNameOne {
    color: #333333;
    font: 30px 'Roboto Slab';
    background-color: rgb(222, 217, 217);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.serviceOneAll {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceOneDesc {
    width: 40%;
    height: 90%;
    font: 16px 'Roboto';
    word-wrap: break-word;
}

.serviceOneImage {
    width: 60%;
    height: 90%;
    object-fit: cover;
}

.firstInput {
    margin-bottom: 0.5%;
}

.first,
.second {
    margin-right: 0.5%;
    margin-left: 10%;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.buttonService {
    margin-top: 1%;
    width: 170px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}

.buttonService:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.buttonService:hover {
    color: #fff;
}

.buttonService:hover:after {
    top: 0;
    height: 100%;
}

.buttonService:active {
    top: 2px;
}

.justBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}

.secondInput {
    margin-left: 25%;
}